/* Reseteos generales */

*{
  box-sizing: border-box;
}

ul, ol {
  padding: 0;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  display: inline-block;
}

a:hover{
  text-decoration: none !important;
  color: white !important;
}

/*  */



/* Contenedor principal
NOTA IMPORTANTE: Este afecta todas las cajas de productos en mobile.
att: Ruben. */

div.main-container{
  margin: 0 auto;
  max-width: 1180px !important;
  width: 100%;
}

/*  */
/* Estilos del Header */
.logo{
  width: 8rem;
}

.main-navbar{
  width: 100%;
  background-color: #404041;
  min-height: 5rem;
  margin-bottom: 1rem;
}

.nav-link{
  color: white !important;
  text-align: center;
  text-transform: uppercase;
}

.nav-button{
  background-color: #404041;
  border: solid .1rem;
  border-color: white;
  color: white;
}

.menu-container{

}

.links-utiles{
  display: flex;
  align-self: flex-end;
}

.links-extra ul{
  display: flex;
  flex-direction: row;
}

.llamenos ul{
  display: flex;
  flex-direction: row;
}

.rrss ul{
  display: flex;
}

.links-extra ul li:nth-child(2){
  margin-left: .180rem;
  margin-right: .180rem;
}

.links-extra ul li:nth-child(4){
  margin-left: .180rem;
  margin-right: .180rem;
}


.llamenos {
  margin-left: 1rem;
  margin-right: 1rem;
  text-transform: uppercase;
}

.links-extra ul li:nth-child(3){
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.links-extra ul li:last-child{
  margin-left: 0.2em;
}

.links-utiles *{
  color: #99cc33;
}

.main-footer{
  margin-top: 1rem;
  height: 12vh;
  background-color: #404041;
  width: 100%;
  display: flex;
  padding: .5rem 1rem;
}


.logo-footer{
  height: 3rem;
  width: 8rem;
  display: none;
}

.informacion-contacto{
  display: flex;
  flex-flow: column nowrap;
  margin-left: 1rem;
}

.informacion-contacto ul{
  height: 100%;
}

.footer-info{
  height: 33%;
  margin: 0;
  color: white;
  font-size: 0.8rem;
}

.header-rrss{
  display: flex;
}

.header-rrss ul{
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.footer-rrss{
  display: none;
  align-items: center;
}

.footer-rrss ul{
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.rrss-verde{
  color: #99cc33;
}

/* Seteo links utiles para que no aparezcan, excepto con la media querie */
.links-utiles{
  display: none;
}

@media (min-width: 768px){
  .informacion-contacto{
    display: flex;
  }
  .logo{
    width: 7.8rem !important;
  }
  .footer-rrss{
    display: flex;
  }
  .informacion-contacto ul li p{
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .navbar-nav{
    flex-direction: row-reverse !important;
    justify-content: flex-end;
  }

  .logo{
    width: 16rem !important;
  }

  .navbar-collapse{
    flex-direction: column;
  }
  .links-utiles {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .logo{
    width: 18rem !important;
  }
}

/*  */
