* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  color: #404041;
}

.forget {
  font-size: 1em;
  color:grey;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}


.btn-info {
    color: #fff;
    background-color: #80bb0b;
    border-color: #80bb0b;

}

.text-info {
    color: grey!important;
  }










@media (min-width: 768px){
    section {


    }

}

@media (min-width: 1200px){

}
