.info-entrega{
  display: flex;
  background-color: #8080803d;
  border-radius: 15px;
  justify-content: flex-start;
  weight:100%;
  height: 10%;
}
.icon-marker{
    padding: 10px;
}
.datos-usuario{
  padding:initial;
  line-height: 0.1;
  font-size: 10pt;
  font-family: 'Roboto', sans-serif;

}





.container-producto{
  background-color: #f3efef;
  border-radius: 15px;
  display: flex;

}

.zoom{
  weight:50%;
  height: 50%;
  padding: 10%;
  flex-direction:column;
  /*padding-top: 10%;
  padding-left: 10%;
  padding-bottom: 10%;*/
}

.detalle-producto{
  display: flex;
  line-height: 0.9;
  flex-direction: column;
  padding-left: 20%;

}
a{
  color: #8bc34a;
}
.detalle-producto h2{
  font-family: 'Roboto', sans-serif;
}
.detalle-producto h3,h4{
  font-family: 'Open Sans', sans-serif;
}

.detalle-producto.promociones{
  font-family: 'Open Sans', sans-serif;

}
.detalle-producto p{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  padding-right:20px;

}
#precio-producto{
  font-size: 2em;
  color:red;
}
#imagen-producto{
  height: 100%;
  object-fit: cover;
  object-position: center center;
}


.compra-producto{
  font-family: 'Open Sans', sans-serif;
}
