/*MediaQuerys*/

@media screen and (min-width: 480px) {
    .carrousel {
        overflow: hidden;
    }
}








/* Reseteos generales */

*{
  box-sizing: border-box;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
  color: #fff;
}

/*  Header */
.upper {
  padding: 20px;
  background-color: #696969;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.logo {
  flex-basis: 30%;
  max-width: 190px
}
.logo img {
  max-width: 100%;
}
.menu-section {
  /* background: rgba(255, 0, 0, 0.5); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 70%;
}
.menu-section a {
  color:#fff;
}
.menu-section ul,
.contact-us ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.contact-us ul {
  width: 600px;
  justify-content: space-between;
}
.menu-section ul li {
  margin-left: 3%;
}
.user-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.upper-menu {
  display: flex;
  flex-direction: row;
}
.contact-us {
  margin: 5px 0;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #97bf0d;
  color: black;
}
.contact-us .social {
  margin-left: 20px;
  flex-basis: 50px;
  justify-content: space-between;
  color: black;

}
.contact-us .menu-items {
  font-size: 1em;

}

.main-container {
  font-family:'Rubik', sans-serif;
  font-size: 1em;
}

/*footer*/

.main-footer {
  background-color: #696969;
  padding: 10px;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.logo-footer-img {
  width:120px;
  height:50px;

}

.footer-info {
  font-family: 'Rubik', sans-serif;
  font-size: 1em;

}

.footer-rrss-container .footer-rrss-list {
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;

}

.informacion-contacto {
  text-align: center;
}

/**body**/

.carrousel {
  display: flex;
  justify-content: center;
  background-color: grey;
  padding-bottom: 20px;
}

h2 {
  font-family: 'Rubik', sans-serif;
}

.productos {
  display: flex;
  background-color: #97bf0d;
  color: white;
  flex-direction: row;
  padding: 50px;

}

.photo-container {
  width: 20%;
  height: 20%;
}
.producto .productos {
  padding:50px;
}



/**perfil.php**/

.perfil-main-container {
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
}
